<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body
		class="font-sans antialiased">

		{# notification #}
		<div class="flex justify-between m-auto w-3/4 text-gray-800 shadow-inner p-3 bg-blue-300">
			<p>
				<strong>Info
				</strong>
				<span>New blog posts has been written</span>
			</p>
			<strong class="text-xl align-center cursor-pointer">&times;</strong>
		</div>
		{# container for all #}
		<div
			class="container mx-auto p-10">
			{# header #}
			<header
				class="flex justify-between items-center">
				{# logo, search #}
				<div class="flex items-center">
					<a href="/">
						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="100" height="100" viewbox="0 0 2000 1999">
							<g transform="matrix(1,0,0,1,-0.431486880466764,-0.4312711370263287)">
								<svg viewbox="0 0 343 343" data-background-color="#6936f5" preserveaspectratio="xMidYMid meet" height="1999" width="2000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="tight-bounds" transform="matrix(1,0,0,1,0.0740000000000407,0.07400000000001228)">
										<svg viewbox="0 0 342.85155851775386 342.85155851775386" height="342.85155851775386" width="342.85155851775386">
											<g>
												<svg></svg>
											</g>
											<g>
												<svg viewbox="0 0 342.85155851775386 342.85155851775386" height="342.85155851775386" width="342.85155851775386">
													<g>
														<path d="M0 171.426c0-94.676 76.75-171.426 171.426-171.426 94.676 0 171.426 76.75 171.426 171.426 0 94.676-76.75 171.426-171.426 171.426-94.676 0-171.426-76.75-171.426-171.426zM171.426 337.937c91.962 0 166.512-74.55 166.511-166.511 0-91.962-74.55-166.512-166.511-166.512-91.962 0-166.512 74.55-166.512 166.512 0 91.962 74.55 166.512 166.512 166.511z" data-fill-palette-color="tertiary" fill="#ffffff" stroke="transparent"></path>
														<ellipse rx="164.56874808852186" ry="164.56874808852186" cx="171.42577925887693" cy="171.42577925887693" fill="#ffffff" stroke="transparent" stroke-width="0" fill-opacity="1" data-fill-palette-color="tertiary"></ellipse>
													</g>
													<g transform="matrix(1,0,0,1,64.84655864529837,100.09367480522732)">
														<svg viewbox="0 0 213.1584412271571 142.6642089072992" height="142.6642089072992" width="213.1584412271571">
															<g>
																<svg viewbox="0 0 213.1584412271571 142.6642089072992" height="142.6642089072992" width="213.1584412271571">
																	<g>
																		<svg viewbox="0 0 213.1584412271571 142.6642089072992" height="142.6642089072992" width="213.1584412271571">
																			<g transform="matrix(1,0,0,1,0,88.17220450891689)">
																				<svg viewbox="0 0 213.1584412271571 54.492004398382335" height="54.492004398382335" width="213.1584412271571">
																					<g id="textblocktransform">
																						<svg viewbox="0 0 213.1584412271571 54.492004398382335" height="54.492004398382335" width="213.1584412271571" id="textblock">
																							<g>
																								<svg viewbox="0 0 213.1584412271571 54.492004398382335" height="54.492004398382335" width="213.1584412271571">
																									<g transform="matrix(1,0,0,1,0,0)">
																										<svg width="213.1584412271571" viewbox="0.25 -44.95 214.93 54.95" height="54.492004398382335" data-palette-color="#5133a3">
																											<path d="M22.8 1.25L22.8 1.25Q20.05 1.25 17.45-0.13 14.85-1.5 12.45-4.9L12.45-4.9Q9.9-2.2 6.3 0.3L6.3 0.3Q4.6 0.3 3.08-1.05 1.55-2.4 0.25-5.85L0.25-5.85Q0.5-5.85 0.78-5.98 1.05-6.1 1.85-6.7L1.85-6.7Q4.85-8.9 7.13-11.43 9.4-13.95 10.98-16.18 12.55-18.4 13.45-19.75L13.45-19.75Q14.85-21.85 15.65-23.08 16.45-24.3 16.95-25.05 17.45-25.8 17.85-26.4L17.85-26.4Q16.7-27.45 15.5-27.93 14.3-28.4 13.25-28.4L13.25-28.4Q11.7-28.4 10.6-27.45 9.5-26.5 9.5-24.9L9.5-24.9Q9.5-23.4 10.65-21.65L10.65-21.65Q8-21.65 6.35-22.55 4.7-23.45 3.95-24.9 3.2-26.35 3.2-28L3.2-28Q3.2-29.95 4.15-31.8 5.1-33.65 6.78-34.85 8.45-36.05 10.7-36.05L10.7-36.05Q12.8-36.05 15.3-34.68 17.8-33.3 20.5-30L20.5-30Q22-31.9 23.73-33.52 25.45-35.15 27.55-36.3L27.55-36.3Q30.4-35.65 31.6-33.63 32.8-31.6 32.8-29.3L32.8-29.3Q32.8-28.9 32.77-28.53 32.75-28.15 32.7-27.75L32.7-27.75Q32.65-27.8 32.58-27.8 32.5-27.8 32.5-27.8L32.5-27.8Q32.05-27.8 31.2-27.4L31.2-27.4Q28.35-26.05 26.43-24.25 24.5-22.45 23.3-20.73 22.1-19 21.35-17.75L21.35-17.75Q19.85-15.2 18.78-13.43 17.7-11.65 16.82-10.3 15.95-8.95 15-7.7L15-7.7Q16.3-6.45 17.57-5.9 18.85-5.35 19.95-5.35L19.95-5.35Q21.85-5.35 23.08-6.63 24.3-7.9 24.3-9.6L24.3-9.6Q24.3-10.6 23.8-11.65 23.3-12.7 22.2-13.55L22.2-13.55Q23.1-14.1 24.45-14.38 25.8-14.65 26.6-14.65L26.6-14.65Q28.35-14.65 29.53-13.7 30.7-12.75 31.33-11.2 31.95-9.65 31.95-7.85L31.95-7.85Q31.95-5.7 30.98-3.6 30-1.5 28-0.13 26 1.25 22.8 1.25ZM47.45 10L47.45 10Q45 10 43.4 8.55 41.8 7.1 41.8 4.45L41.8 4.45Q41.8 1.6 43.8-2.25L43.8-2.25Q43.45-2.15 43.1-2.1 42.75-2.05 42.4-2.05L42.4-2.05Q39.5-2.05 37.52-4.58 35.55-7.1 35.55-11.6L35.55-11.6Q35.55-15.65 37.12-18.75 38.7-21.85 41.15-23.6 43.6-25.35 46.25-25.35L46.25-25.35Q48.1-25.35 49.6-24.43 51.1-23.5 52.05-21.45L52.05-21.45Q52.1-21.95 52.1-22.35 52.1-22.75 52.1-23.1L52.1-23.1Q52.1-23.95 53.4-24.5 54.7-25.05 56.3-25.05L56.3-25.05Q57.75-25.05 59-24.5 60.25-23.95 60.65-22.65L60.65-22.65 60.75-22.35Q60.3-21.95 59.97-19.75 59.65-17.55 59.2-13.65L59.2-13.65Q58.9-11.2 58.45-8.08 58-4.95 57.22-1.78 56.45 1.4 55.2 4.08 53.95 6.75 52.05 8.38 50.15 10 47.45 10ZM45.8-7.8L45.8-7.8Q47.25-7.8 49.02-10.18 50.8-12.55 51.85-17L51.85-17Q50.95-18.95 50.02-19.78 49.1-20.6 48.15-20.6L48.15-20.6Q46.9-20.6 45.8-19.35 44.7-18.1 44.02-16.18 43.35-14.25 43.35-12.2L43.35-12.2Q43.35-10.1 44.05-8.95 44.75-7.8 45.8-7.8ZM45.2 4.25L45.2 4.25Q46.9 4.25 48.67 0.93 50.45-2.4 51.15-8.45L51.15-8.45Q47.35-3.3 45.87-0.53 44.4 2.25 44.4 3.4L44.4 3.4Q44.4 4.25 45.2 4.25ZM63.8-37.4L63.8-37.4Q62.5-39.25 62.82-40.85 63.15-42.45 64.6-43.45 66.05-44.45 68.1-44.45L68.1-44.45Q70-44.45 71.97-44.23 73.95-44 75.67-43.88 77.4-43.75 78.65-43.95 79.9-44.15 80.4-44.95L80.4-44.95Q81.7-43.15 81.57-41.53 81.45-39.9 80.05-38.88 78.65-37.85 76.1-37.85L76.1-37.85Q74.65-37.85 72.95-38.05 71.25-38.25 69.55-38.4 67.85-38.55 66.35-38.38 64.85-38.2 63.8-37.4ZM68.85 0.2L68.85 0.2Q67.5 0.2 66.22-0.48 64.95-1.15 64.15-2.65 63.35-4.15 63.35-6.5L63.35-6.5Q63.35-8.6 63.92-11.43 64.5-14.25 65.22-17.3 65.95-20.35 66.5-23.25 67.05-26.15 67-28.4L67-28.4Q67-30.55 66.5-31.45L66.5-31.45 66.45-31.6Q67-33.2 68.4-34.1 69.8-35 71.35-35L71.35-35Q73.1-35 74.47-33.68 75.85-32.35 75.85-29.25L75.85-29.25Q75.85-27.6 75.45-25.33 75.05-23.05 74.5-20.48 73.95-17.9 73.37-15.4 72.8-12.9 72.4-10.8 72-8.7 72-7.35L72-7.35Q72-5.95 72.4-5.43 72.8-4.9 73.3-4.9L73.3-4.9Q73.85-4.9 74.35-5.33 74.85-5.75 75-6.1L75-6.1 75.4-6Q75.35-4.2 74.37-2.8 73.4-1.4 71.92-0.6 70.45 0.2 68.85 0.2ZM89.34 0.35L89.34 0.35Q85.59 0.35 83.14-1.15 80.69-2.65 79.52-5.13 78.34-7.6 78.34-10.4L78.34-10.4Q78.34-13.05 79.32-15.7 80.29-18.35 82.17-20.53 84.04-22.7 86.74-24.03 89.44-25.35 92.94-25.35L92.94-25.35Q96.69-25.35 99.12-23.83 101.54-22.3 102.72-19.8 103.89-17.3 103.89-14.45L103.89-14.45Q103.89-11.85 102.94-9.22 101.99-6.6 100.12-4.42 98.24-2.25 95.54-0.95 92.84 0.35 89.34 0.35ZM90.69-3.9L90.69-3.9Q92.04-3.9 92.94-5.3 93.84-6.7 94.29-8.88 94.74-11.05 94.74-13.3L94.74-13.3Q94.74-15.3 94.37-17.07 93.99-18.85 93.24-19.98 92.49-21.1 91.29-21.1L91.29-21.1Q89.99-21.1 89.07-19.7 88.14-18.3 87.69-16.15 87.24-14 87.24-11.7L87.24-11.7Q87.24-9.7 87.62-7.93 87.99-6.15 88.74-5.03 89.49-3.9 90.69-3.9ZM115.29 0.45L115.29 0.45Q112.19 0.45 110.14-0.4 108.09-1.25 107.09-2.58 106.09-3.9 106.09-5.25L106.09-5.25Q106.09-7.15 107.79-8.63 109.49-10.1 112.39-10.1L112.39-10.1Q112.39-7.55 113.04-6.03 113.69-4.5 114.72-3.85 115.74-3.2 116.69-3.2L116.69-3.2Q117.84-3.2 118.62-3.88 119.39-4.55 119.39-5.55L119.39-5.55Q119.39-6.95 117.94-8 116.49-9.05 114.19-10.35L114.19-10.35Q113.04-11.05 111.69-11.98 110.34-12.9 109.39-14.23 108.44-15.55 108.44-17.4L108.44-17.4Q108.44-19.35 109.57-20.85 110.69-22.35 112.54-23.38 114.39-24.4 116.54-24.93 118.69-25.45 120.74-25.45L120.74-25.45Q124.59-25.45 126.54-23.9 128.49-22.35 128.49-20.6L128.49-20.6Q128.49-19.1 126.99-17.9 125.49-16.7 122.39-16.7L122.39-16.7Q122.44-19.25 121.34-20.43 120.24-21.6 118.99-21.6L118.99-21.6Q118.09-21.6 117.49-21.05 116.89-20.5 116.89-19.45L116.89-19.45Q116.89-18.25 117.67-17.38 118.44-16.5 119.62-15.83 120.79-15.15 122.04-14.55L122.04-14.55Q123.74-13.75 125.24-12.85 126.74-11.95 127.69-10.8 128.64-9.65 128.64-8L128.64-8Q128.64-5.75 126.82-3.83 124.99-1.9 121.94-0.73 118.89 0.45 115.29 0.45ZM118.14-27.05L118.14-27.05Q116.74-26.4 115.97-26.9 115.19-27.4 115.19-28.45L115.19-28.45Q116.44-29.95 117.52-32.02 118.59-34.1 119.24-36.13 119.89-38.15 119.74-39.55L119.74-39.55Q121.04-39.95 122.47-39.75 123.89-39.55 125.02-38.83 126.14-38.1 126.59-36.88 127.04-35.65 126.34-34.05L126.34-34.05Q125.79-32.75 124.87-31.6 123.94-30.45 122.34-29.35 120.74-28.25 118.14-27.05ZM150.19 0.35L150.19 0.35Q146.89 0.35 144.61-1.15 142.34-2.65 141.19-5.08 140.04-7.5 140.04-10.3L140.04-10.3Q140.04-12.95 141.06-15.6 142.09-18.25 144.09-20.48 146.09-22.7 148.96-24.03 151.84-25.35 155.59-25.35L155.59-25.35Q159.29-25.35 161.09-23.88 162.89-22.4 162.89-20.65L162.89-20.65Q162.89-18.8 161.04-17.25 159.19-15.7 155.64-15.7L155.64-15.7Q155.84-16.45 155.96-17.23 156.09-18 156.09-18.7L156.09-18.7Q156.09-19.75 155.64-20.48 155.19-21.2 154.04-21.2L154.04-21.2Q152.99-21.2 151.81-20.25 150.64-19.3 149.81-17.45 148.99-15.6 148.99-12.9L148.99-12.9Q148.99-10.25 149.86-8.6 150.74-6.95 152.14-6.23 153.54-5.5 155.09-5.5L155.09-5.5Q157.14-5.5 159.04-6.58 160.94-7.65 161.79-9.55L161.79-9.55 162.29-9.35Q162.29-6.75 161.11-4.93 159.94-3.1 158.09-1.93 156.24-0.75 154.14-0.2 152.04 0.35 150.19 0.35ZM175.88 0.35L175.88 0.35Q172.13 0.35 169.68-1.15 167.23-2.65 166.06-5.13 164.88-7.6 164.88-10.4L164.88-10.4Q164.88-13.05 165.86-15.7 166.83-18.35 168.71-20.53 170.58-22.7 173.28-24.03 175.98-25.35 179.48-25.35L179.48-25.35Q183.23-25.35 185.66-23.83 188.08-22.3 189.26-19.8 190.43-17.3 190.43-14.45L190.43-14.45Q190.43-11.85 189.48-9.22 188.53-6.6 186.66-4.42 184.78-2.25 182.08-0.95 179.38 0.35 175.88 0.35ZM177.23-3.9L177.23-3.9Q178.58-3.9 179.48-5.3 180.38-6.7 180.83-8.88 181.28-11.05 181.28-13.3L181.28-13.3Q181.28-15.3 180.91-17.07 180.53-18.85 179.78-19.98 179.03-21.1 177.83-21.1L177.83-21.1Q176.53-21.1 175.61-19.7 174.68-18.3 174.23-16.15 173.78-14 173.78-11.7L173.78-11.7Q173.78-9.7 174.16-7.93 174.53-6.15 175.28-5.03 176.03-3.9 177.23-3.9ZM201.83 0.45L201.83 0.45Q198.73 0.45 196.68-0.4 194.63-1.25 193.63-2.58 192.63-3.9 192.63-5.25L192.63-5.25Q192.63-7.15 194.33-8.63 196.03-10.1 198.93-10.1L198.93-10.1Q198.93-7.55 199.58-6.03 200.23-4.5 201.26-3.85 202.28-3.2 203.23-3.2L203.23-3.2Q204.38-3.2 205.16-3.88 205.93-4.55 205.93-5.55L205.93-5.55Q205.93-6.95 204.48-8 203.03-9.05 200.73-10.35L200.73-10.35Q199.58-11.05 198.23-11.98 196.88-12.9 195.93-14.23 194.98-15.55 194.98-17.4L194.98-17.4Q194.98-19.35 196.11-20.85 197.23-22.35 199.08-23.38 200.93-24.4 203.08-24.93 205.23-25.45 207.28-25.45L207.28-25.45Q211.13-25.45 213.08-23.9 215.03-22.35 215.03-20.6L215.03-20.6Q215.03-19.1 213.53-17.9 212.03-16.7 208.93-16.7L208.93-16.7Q208.98-19.25 207.88-20.43 206.78-21.6 205.53-21.6L205.53-21.6Q204.63-21.6 204.03-21.05 203.43-20.5 203.43-19.45L203.43-19.45Q203.43-18.25 204.21-17.38 204.98-16.5 206.16-15.83 207.33-15.15 208.58-14.55L208.58-14.55Q210.28-13.75 211.78-12.85 213.28-11.95 214.23-10.8 215.18-9.65 215.18-8L215.18-8Q215.18-5.75 213.36-3.83 211.53-1.9 208.48-0.73 205.43 0.45 201.83 0.45ZM204.68-27.05L204.68-27.05Q203.28-26.4 202.51-26.9 201.73-27.4 201.73-28.45L201.73-28.45Q202.98-29.95 204.06-32.02 205.13-34.1 205.78-36.13 206.43-38.15 206.28-39.55L206.28-39.55Q207.58-39.95 209.01-39.75 210.43-39.55 211.56-38.83 212.68-38.1 213.13-36.88 213.58-35.65 212.88-34.05L212.88-34.05Q212.33-32.75 211.41-31.6 210.48-30.45 208.88-29.35 207.28-28.25 204.68-27.05Z" opacity="1" transform="matrix(1,0,0,1,0,0)" fill="#5133a3" class="wordmark-text-0" data-fill-palette-color="quaternary" id="text-0"></path>
																										</svg>
																									</g>
																								</svg>
																							</g>
																						</svg>
																					</g>
																				</svg>
																			</g>
																			<g transform="matrix(1,0,0,1,55.90898868248398,0)">
																				<svg viewbox="0 0 101.34046386218915 75.30795007856439" height="75.30795007856439" width="101.34046386218915">
																					<g>
																						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewbox="13 18.696409446385132 79.4 59.00359055361487" enable-background="new 0 0 100 100" xml:space="preserve" height="75.30795007856439" width="101.34046386218915" class="icon-icon-0" data-fill-palette-color="quaternary" id="icon-0">
																							<g fill="#5133a3" data-fill-palette-color="quaternary">
																								<g fill="#5133a3" data-fill-palette-color="quaternary">
																									<path d="M90.1 23.3C89.9 20.6 87.6 18.6 84.9 18.8 77.7 19.4 68.7 19.7 58 19.7 41.7 19.7 25.8 19 19.7 18.7 17 18.6 14.7 20.6 14.6 23.3 14.2 32.5 13.3 55.5 13 71.8 13 74.2 14.6 76.2 17 76.7 20.8 77.4 27.6 77.7 37.4 77.7 55.6 77.7 78.7 76.6 87.8 76.1 90.3 76 92.4 73.9 92.4 71.3 92.4 65.8 92.2 52.4 90.1 23.3M89.4 71.2C89.4 72.2 88.6 73 87.7 73 78.6 73.5 55.5 74.6 37.4 74.6 27.8 74.6 21.1 74.3 17.5 73.7 16.6 73.5 16 72.8 16 71.9 16.3 55.7 17.2 32.7 17.6 23.5 17.6 22.5 18.4 21.7 19.5 21.7 25.6 22 41.5 22.7 57.9 22.7 68.6 22.7 77.7 22.4 85 21.8 86 21.7 86.9 22.5 87 23.5 89.2 52.5 89.4 65.8 89.4 71.2" fill="#5133a3" data-fill-palette-color="quaternary"></path>
																									<path d="M50.1 48.3C50.1 50.8 52.1 52.9 54.7 52.9 57.2 52.9 59.3 50.9 59.3 48.3 59.3 45.8 57.3 43.7 54.7 43.7S50.1 45.8 50.1 48.3" fill="#5133a3" data-fill-palette-color="quaternary"></path>
																									<path d="M59.7 52.6C58.5 54.1 56.6 55.1 54.4 55.1 50.6 55.1 47.6 52.1 47.6 48.3S50.6 41.5 54.4 41.5C56.5 41.5 58.4 42.5 59.6 44 59.8 44.3 60.1 44.6 60.2 44.9L66.7 43.1C66.2 42 65.6 41 64.9 40.1 62.4 36.9 58.6 34.9 54.3 34.9 46.9 34.9 40.9 40.9 40.9 48.3S46.9 61.7 54.3 61.7C59.9 61.7 64.7 58.3 66.7 53.5L60.2 51.6C60.2 52 60 52.3 59.7 52.6" fill="#5133a3" data-fill-palette-color="quaternary"></path>
																								</g>
																							</g>
																						</svg>
																					</g>
																				</svg>
																			</g>
																			<g></g>
																		</svg>
																	</g>
																</svg>
															</g>
														</svg>
													</g>
												</svg>
											</g>
											<defs></defs>
										</svg>
										<rect width="342.85155851775386" height="342.85155851775386" fill="none" stroke="none" visibility="hidden"></rect>
									</g>
								</svg>
							</g>
						</svg>
					</a>
					<div class="ml-4">
						<label>
							<input class="placeholder:italic placeholder:text-slate-400 bg-white w-full border-slate-300 rounded-md py-2 pl-9 pr-3 sm:text-sm" placeholder="Search for posts ..." type="text" name="search"/>
						</label>
						<ul class="bg-white border border-gray-100 mt-2 absolute hidden">
							<li class="pl-8 pr-2 py-1 border-b-2 border-gray-100 relative hover:bg-yellow-50 hover:text-gray-900">
								<a href="{{ path('posts.show', {id:1}) }}">Post title</a>
							</li>
							<li class="pl-8 pr-2 py-1 border-b-2 border-gray-100 relative hover:bg-yellow-50 hover:text-gray-900">
								<a href="{{ path('posts.show', {id:1}) }}">Post title</a>
							</li>

						</ul>
					</div>

				</div>

				{# links #}
				<div class="hidden md:flex space-x-6 text-lg">
					<p class="text-sm py-2">Logged as:
						<a href="{{ path('app_dashboard') }}" class="hover:text-stone-500 text-sm py-2">John Smith</a>
					</p>
					<form method="POST" action="/">
						<button type="submit" class="tracking-widest hover:text-stone-500 text-sm py-2">
							Logout
						</button>
					</form>

					<a href="{{ path('posts.new') }}" class="inline font-bold text-sm px-6 py-2 text-white rounded-full bg-red-500 hover:bg-red-600">
						New blog post</a>
					<a href="/" class="text-sm py-2 hover:text-stone-500">Login</a>
					<a href="/" class="text-sm py-2 hover:text-stone-500">Register</a>
				</div>

				{# hamburger icon #}
				<div id="hamburger-icon" class="space-y-2 cursor-pointer md:hidden">
					<div class="w-8 h-0.5 bg-gray-600"></div>
					<div class="w-8 h-0.5 bg-gray-600"></div>
					<div class="w-8 h-0.5 bg-gray-600"></div>
				</div>

			</header>

			{# mobile menu #}
			<div class="md:hidden">
				<div id="mobile-menu" class="flex-col items-center hidden py-8 mt-10 space-y-6 bg-white left-6 right-6 drop-shadow-lg">
					<p>Logged as:
						<a class="hover:text-stone-500" href="/">John Doe</a>
					</p>
					<form method="POST" action="/">
						<button type="submit" class="tracking-widest hover:text-stone-500">
							Logout
						</button>
					</form>
					<a href="{{ path('posts.new') }}" class="inline font-bold text-sm px-6 py-2 text-white rounded-full bg-red-500 hover:bg-red-600">
						New blog post</a>
					<a class="tracking-widest hover:text-stone-500" href="/">Login</a>
					<a class="tracking-widest hover:text-stone-500" href="/">Register</a>
				</div>
			</div>

			{% block body %}{% endblock %}

			{# footer #}
			<footer class="flex items-center justify-center mt-12">
				&copy; 2023 SymfonyMicroBlog
			</footer>
		</div>
	</body>
</html>
